In [1]:
#Name Zulaikha Arshad

In [3]:
#Question no 1:

In [18]:
class person:
    def __init__(self,name,age,city):
       self.name=name
       self.age=age
       self.city=city
    def my_name(self):
       print(f"my name is {self.name}")
    def my_age(self):
       print(f"my age is {self.age}")
    def my_city(self):
       print(f"my city name is {self.city}")
intro=person('Zulaikha',18,'Lahore')
intro.my_name()
intro.my_age()
intro.my_city()

my name is Zulaikha
ny age is 18
my city name is Lahore

In [ ]:
#Question 2

In [24]:
class car:
    def __init__(self,make,model,year):
        self.make=make
        self.model=model
        self.year=year
my_caar=car('toyota','corolla',2022)
print(f"my car makes by {my_caar.make}")
print(f"my car is {my_caar.model}")
print(f"my car's model is {my_caar.model}")

my car makes by toyota
my car is corolla
my car's model is corolla

In [40]:
class circle:
    def __init__(self,radius):
        self.radius=radius
    def area(self):
        area=3.14*self.radius
        print('area:',area)
    def circumference(self):
        circumference=2*3.14*self.radius
        print("circumference:",circumference)
my_circle=circle(56)        
my_circle.area()
my_circle.circumference()

area: 175.84
circumference: 351.68

In [50]:
class rectangle:
    def __init__(self,length,width):
       self.length=length
       self.width=width
    def area(self):
        area=self.length*self.width
        print("area:",area)
    def perimeter(self):
        perimeter=4*self.length
        print("perimeter:",perimeter)
my_rectangle=rectangle(234,253)
my_rectangle.area()
my_rectangle.perimeter()

area: 59202
perimeter: 936

In [58]:
class average:
    def __init__(self,name,roll_no,marks):
          self.name=name
          self.roll_no=roll_no
          self.marks=marks
    def avg(self):  
        average_marks=sum(self.marks)/len(self.marks)
        print("average:",average_marks)
avg_marks=average('zulaikha',93,[32543,254,2376,754])
avg_marks.avg()

average: 8981.75

In [66]:
class book:
    def __init__(self,title,author,publisher_year):
       self.title=title
       self.author=author
       self.publisher_year=publisher_year
    def book_name(self):
       print(f"book name is {self.title}")
    def author_name(self):
       print(f"author name is {self.author}")
    def publisher(self):
       print(f"it published in {self.publisher_year}")
intro=book('peer e kamil','Umera Ahmed',2004)
intro.book_name()
intro.author_name()
intro.publisher()

book name is peer e kamil
author name is Umera Ahmed
it published in 2004

In [72]:
class employee:
    def __init__(self,name,salary,designation):
       self.name=name
       self.salary=salary
       self.designation=designation
    def employee_name(self):
       print(f"my name is {self.name}")
    def employee_salary(self):
       print(f"salary is {self.salary}")
    def employee_designation(self):
       print(f"designation is {self.designation}")
intro=employee('Zulaikha',1800,'Data analyst')
intro.employee_name()
intro.employee_salary()
intro.employee_designation()

my name is Zulaikha
salary is 1800
designation is Data analyst

In [84]:
class bank:
    def __init__(self,name, account_number,balance):
        self.name=name
        self.account_number=account_number
        self.balance=balance
    def deposit(self,amount):
        self.amount=amount
        print("deposited_amount",self.amount)
    def withdraw(self):
        total_balance=self.balance-self.amount
        print(f"my balance is {total_balance}")
bankkk=bank('Zulaikah',1233454657,2435)
bankkk.deposit(123)
bankkk.withdraw()

deposited_amount 123
my balance is 2312